$component-selector: '.contacts';

#{$component-selector} {
    margin-top: 160px;
    text-align: center;
    &__title {
        font-size: $font-size-base * 26 / 16; // 26px
        color: #000000;
        letter-spacing: 0.63px;
        line-height: 1;
    }
    &__number {
        font-size: $font-size-base * 50 / 16; // 50px
        color: $secondary;
        font-weight: bold;
    }
    &__text {
        opacity: 0.77;
        color: #000000;
        letter-spacing: 0.63px;
        line-height: 39px;
    }
}

@include media-breakpoint-down(md) {
    #{$component-selector} {
        margin-top: 140px;
        &__title {
            font-size: $font-size-base * 22 / 16; // 22px
        }
        &__number {
            font-size: $font-size-base * 36 / 16; // 36px
        }
    }
}

@include media-breakpoint-down(sm) {
    #{$component-selector} {
        margin-top: 100px;
        &__title {
            font-size: $font-size-base * 20 / 16; // 20px
        }
        &__number {
            font-size: $font-size-base * 26 / 16; // 26px
        }
    }
}