@import 'modules/all';

@import 'bootstrap/all';

@import 'modals/all';
@import 'partials/all';

body {
    color: $font-color-base;
    min-width: 320px;
    position: relative;
}

.wrapper {
    max-width: $wrapper-max-width;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-size: $font-size-sm;
    letter-spacing: 0.5px;
    &_arrow {
        .arrow {
            margin-left: 98px;
        }
    }
}

h1, .h1 {
    letter-spacing: 1px;
    line-height: 1.2;
}

h2, .h2 {
    letter-spacing: 1px;
    line-height: 1.35;
}

@include media-breakpoint-down(lg) {
    h1, .h1 {
        font-size: $h1-font-size-lg;
    }
    h2, .h2 {
        font-size: $h2-font-size-lg;
    }
}

@include media-breakpoint-down(md) {
    h1, .h1 {
        font-size: $h1-font-size-md;
    }
    h2, .h2 {
        font-size: $h2-font-size-md;
    }
}

@include media-breakpoint-down(sm) {
    h1, .h1 {
        font-size: $h1-font-size-sm;
    }
    h2, .h2 {
        font-size: $h2-font-size-sm;
    }
    .btn {
        &_arrow {
            .arrow {
                margin-left: 15px;
            }
        }
    }
}
