// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$black-slider-arrow-left-name: 'black-slider-arrow-left';
$black-slider-arrow-left-x: 22px;
$black-slider-arrow-left-y: 123px;
$black-slider-arrow-left-offset-x: -22px;
$black-slider-arrow-left-offset-y: -123px;
$black-slider-arrow-left-width: 33px;
$black-slider-arrow-left-height: 9px;
$black-slider-arrow-left-total-width: 152px;
$black-slider-arrow-left-total-height: 145px;
$black-slider-arrow-left-image: '../assets/img/sprite.png';
$black-slider-arrow-left: (22px, 123px, -22px, -123px, 33px, 9px, 152px, 145px, '../assets/img/sprite.png', 'black-slider-arrow-left', );
$black-slider-arrow-right-name: 'black-slider-arrow-right';
$black-slider-arrow-right-x: 82px;
$black-slider-arrow-right-y: 60px;
$black-slider-arrow-right-offset-x: -82px;
$black-slider-arrow-right-offset-y: -60px;
$black-slider-arrow-right-width: 33px;
$black-slider-arrow-right-height: 9px;
$black-slider-arrow-right-total-width: 152px;
$black-slider-arrow-right-total-height: 145px;
$black-slider-arrow-right-image: '../assets/img/sprite.png';
$black-slider-arrow-right: (82px, 60px, -82px, -60px, 33px, 9px, 152px, 145px, '../assets/img/sprite.png', 'black-slider-arrow-right', );
$blue-arm-name: 'blue-arm';
$blue-arm-x: 123px;
$blue-arm-y: 32px;
$blue-arm-offset-x: -123px;
$blue-arm-offset-y: -32px;
$blue-arm-width: 28px;
$blue-arm-height: 32px;
$blue-arm-total-width: 152px;
$blue-arm-total-height: 145px;
$blue-arm-image: '../assets/img/sprite.png';
$blue-arm: (123px, 32px, -123px, -32px, 28px, 32px, 152px, 145px, '../assets/img/sprite.png', 'blue-arm', );
$blue-brush-name: 'blue-brush';
$blue-brush-x: 42px;
$blue-brush-y: 71px;
$blue-brush-offset-x: -42px;
$blue-brush-offset-y: -71px;
$blue-brush-width: 31px;
$blue-brush-height: 28px;
$blue-brush-total-width: 152px;
$blue-brush-total-height: 145px;
$blue-brush-image: '../assets/img/sprite.png';
$blue-brush: (42px, 71px, -42px, -71px, 31px, 28px, 152px, 145px, '../assets/img/sprite.png', 'blue-brush', );
$blue-building-name: 'blue-building';
$blue-building-x: 0px;
$blue-building-y: 71px;
$blue-building-offset-x: 0px;
$blue-building-offset-y: -71px;
$blue-building-width: 42px;
$blue-building-height: 28px;
$blue-building-total-width: 152px;
$blue-building-total-height: 145px;
$blue-building-image: '../assets/img/sprite.png';
$blue-building: (0px, 71px, 0px, -71px, 42px, 28px, 152px, 145px, '../assets/img/sprite.png', 'blue-building', );
$blue-hat-name: 'blue-hat';
$blue-hat-x: 82px;
$blue-hat-y: 30px;
$blue-hat-offset-x: -82px;
$blue-hat-offset-y: -30px;
$blue-hat-width: 35px;
$blue-hat-height: 30px;
$blue-hat-total-width: 152px;
$blue-hat-total-height: 145px;
$blue-hat-image: '../assets/img/sprite.png';
$blue-hat: (82px, 30px, -82px, -30px, 35px, 30px, 152px, 145px, '../assets/img/sprite.png', 'blue-hat', );
$blue-leaf-name: 'blue-leaf';
$blue-leaf-x: 42px;
$blue-leaf-y: 0px;
$blue-leaf-offset-x: -42px;
$blue-leaf-offset-y: 0px;
$blue-leaf-width: 40px;
$blue-leaf-height: 42px;
$blue-leaf-total-width: 152px;
$blue-leaf-total-height: 145px;
$blue-leaf-image: '../assets/img/sprite.png';
$blue-leaf: (42px, 0px, -42px, 0px, 40px, 42px, 152px, 145px, '../assets/img/sprite.png', 'blue-leaf', );
$blue-monitor-name: 'blue-monitor';
$blue-monitor-x: 0px;
$blue-monitor-y: 99px;
$blue-monitor-offset-x: 0px;
$blue-monitor-offset-y: -99px;
$blue-monitor-width: 27px;
$blue-monitor-height: 24px;
$blue-monitor-total-width: 152px;
$blue-monitor-total-height: 145px;
$blue-monitor-image: '../assets/img/sprite.png';
$blue-monitor: (0px, 99px, 0px, -99px, 27px, 24px, 152px, 145px, '../assets/img/sprite.png', 'blue-monitor', );
$blue-pencil-small-name: 'blue-pencil-small';
$blue-pencil-small-x: 102px;
$blue-pencil-small-y: 71px;
$blue-pencil-small-offset-x: -102px;
$blue-pencil-small-offset-y: -71px;
$blue-pencil-small-width: 19px;
$blue-pencil-small-height: 19px;
$blue-pencil-small-total-width: 152px;
$blue-pencil-small-total-height: 145px;
$blue-pencil-small-image: '../assets/img/sprite.png';
$blue-pencil-small: (102px, 71px, -102px, -71px, 19px, 19px, 152px, 145px, '../assets/img/sprite.png', 'blue-pencil-small', );
$blue-pencil-name: 'blue-pencil';
$blue-pencil-x: 0px;
$blue-pencil-y: 123px;
$blue-pencil-offset-x: 0px;
$blue-pencil-offset-y: -123px;
$blue-pencil-width: 22px;
$blue-pencil-height: 22px;
$blue-pencil-total-width: 152px;
$blue-pencil-total-height: 145px;
$blue-pencil-image: '../assets/img/sprite.png';
$blue-pencil: (0px, 123px, 0px, -123px, 22px, 22px, 152px, 145px, '../assets/img/sprite.png', 'blue-pencil', );
$blue-portfolio-name: 'blue-portfolio';
$blue-portfolio-x: 27px;
$blue-portfolio-y: 99px;
$blue-portfolio-offset-x: -27px;
$blue-portfolio-offset-y: -99px;
$blue-portfolio-width: 25px;
$blue-portfolio-height: 23px;
$blue-portfolio-total-width: 152px;
$blue-portfolio-total-height: 145px;
$blue-portfolio-image: '../assets/img/sprite.png';
$blue-portfolio: (27px, 99px, -27px, -99px, 25px, 23px, 152px, 145px, '../assets/img/sprite.png', 'blue-portfolio', );
$blue-rectangle-name: 'blue-rectangle';
$blue-rectangle-x: 43px;
$blue-rectangle-y: 42px;
$blue-rectangle-offset-x: -43px;
$blue-rectangle-offset-y: -42px;
$blue-rectangle-width: 35px;
$blue-rectangle-height: 26px;
$blue-rectangle-total-width: 152px;
$blue-rectangle-total-height: 145px;
$blue-rectangle-image: '../assets/img/sprite.png';
$blue-rectangle: (43px, 42px, -43px, -42px, 35px, 26px, 152px, 145px, '../assets/img/sprite.png', 'blue-rectangle', );
$blue-teamwork-name: 'blue-teamwork';
$blue-teamwork-x: 0px;
$blue-teamwork-y: 0px;
$blue-teamwork-offset-x: 0px;
$blue-teamwork-offset-y: 0px;
$blue-teamwork-width: 42px;
$blue-teamwork-height: 42px;
$blue-teamwork-total-width: 152px;
$blue-teamwork-total-height: 145px;
$blue-teamwork-image: '../assets/img/sprite.png';
$blue-teamwork: (0px, 0px, 0px, 0px, 42px, 42px, 152px, 145px, '../assets/img/sprite.png', 'blue-teamwork', );
$blue-truck-name: 'blue-truck';
$blue-truck-x: 82px;
$blue-truck-y: 0px;
$blue-truck-offset-x: -82px;
$blue-truck-offset-y: 0px;
$blue-truck-width: 41px;
$blue-truck-height: 30px;
$blue-truck-total-width: 152px;
$blue-truck-total-height: 145px;
$blue-truck-image: '../assets/img/sprite.png';
$blue-truck: (82px, 0px, -82px, 0px, 41px, 30px, 152px, 145px, '../assets/img/sprite.png', 'blue-truck', );
$orange-arrow-right-name: 'orange-arrow-right';
$orange-arrow-right-x: 22px;
$orange-arrow-right-y: 132px;
$orange-arrow-right-offset-x: -22px;
$orange-arrow-right-offset-y: -132px;
$orange-arrow-right-width: 16px;
$orange-arrow-right-height: 10px;
$orange-arrow-right-total-width: 152px;
$orange-arrow-right-total-height: 145px;
$orange-arrow-right-image: '../assets/img/sprite.png';
$orange-arrow-right: (22px, 132px, -22px, -132px, 16px, 10px, 152px, 145px, '../assets/img/sprite.png', 'orange-arrow-right', );
$orange-location-name: 'orange-location';
$orange-location-x: 123px;
$orange-location-y: 64px;
$orange-location-offset-x: -123px;
$orange-location-offset-y: -64px;
$orange-location-width: 25px;
$orange-location-height: 33px;
$orange-location-total-width: 152px;
$orange-location-total-height: 145px;
$orange-location-image: '../assets/img/sprite.png';
$orange-location: (123px, 64px, -123px, -64px, 25px, 33px, 152px, 145px, '../assets/img/sprite.png', 'orange-location', );
$orange-refund-name: 'orange-refund';
$orange-refund-x: 123px;
$orange-refund-y: 0px;
$orange-refund-offset-x: -123px;
$orange-refund-offset-y: 0px;
$orange-refund-width: 29px;
$orange-refund-height: 32px;
$orange-refund-total-width: 152px;
$orange-refund-total-height: 145px;
$orange-refund-image: '../assets/img/sprite.png';
$orange-refund: (123px, 0px, -123px, 0px, 29px, 32px, 152px, 145px, '../assets/img/sprite.png', 'orange-refund', );
$orange-truck-name: 'orange-truck';
$orange-truck-x: 0px;
$orange-truck-y: 42px;
$orange-truck-offset-x: 0px;
$orange-truck-offset-y: -42px;
$orange-truck-width: 43px;
$orange-truck-height: 29px;
$orange-truck-total-width: 152px;
$orange-truck-total-height: 145px;
$orange-truck-image: '../assets/img/sprite.png';
$orange-truck: (0px, 42px, 0px, -42px, 43px, 29px, 152px, 145px, '../assets/img/sprite.png', 'orange-truck', );
$white-arrow-right-name: 'white-arrow-right';
$white-arrow-right-x: 38px;
$white-arrow-right-y: 132px;
$white-arrow-right-offset-x: -38px;
$white-arrow-right-offset-y: -132px;
$white-arrow-right-width: 14px;
$white-arrow-right-height: 10px;
$white-arrow-right-total-width: 152px;
$white-arrow-right-total-height: 145px;
$white-arrow-right-image: '../assets/img/sprite.png';
$white-arrow-right: (38px, 132px, -38px, -132px, 14px, 10px, 152px, 145px, '../assets/img/sprite.png', 'white-arrow-right', );
$white-link-name: 'white-link';
$white-link-x: 73px;
$white-link-y: 71px;
$white-link-offset-x: -73px;
$white-link-offset-y: -71px;
$white-link-width: 29px;
$white-link-height: 27px;
$white-link-total-width: 152px;
$white-link-total-height: 145px;
$white-link-image: '../assets/img/sprite.png';
$white-link: (73px, 71px, -73px, -71px, 29px, 27px, 152px, 145px, '../assets/img/sprite.png', 'white-link', );
$white-slider-arrow-left-name: 'white-slider-arrow-left';
$white-slider-arrow-left-x: 81px;
$white-slider-arrow-left-y: 99px;
$white-slider-arrow-left-offset-x: -81px;
$white-slider-arrow-left-offset-y: -99px;
$white-slider-arrow-left-width: 33px;
$white-slider-arrow-left-height: 9px;
$white-slider-arrow-left-total-width: 152px;
$white-slider-arrow-left-total-height: 145px;
$white-slider-arrow-left-image: '../assets/img/sprite.png';
$white-slider-arrow-left: (81px, 99px, -81px, -99px, 33px, 9px, 152px, 145px, '../assets/img/sprite.png', 'white-slider-arrow-left', );
$white-slider-arrow-right-name: 'white-slider-arrow-right';
$white-slider-arrow-right-x: 114px;
$white-slider-arrow-right-y: 99px;
$white-slider-arrow-right-offset-x: -114px;
$white-slider-arrow-right-offset-y: -99px;
$white-slider-arrow-right-width: 33px;
$white-slider-arrow-right-height: 9px;
$white-slider-arrow-right-total-width: 152px;
$white-slider-arrow-right-total-height: 145px;
$white-slider-arrow-right-image: '../assets/img/sprite.png';
$white-slider-arrow-right: (114px, 99px, -114px, -99px, 33px, 9px, 152px, 145px, '../assets/img/sprite.png', 'white-slider-arrow-right', );
$white-vk-name: 'white-vk';
$white-vk-x: 52px;
$white-vk-y: 99px;
$white-vk-offset-x: -52px;
$white-vk-offset-y: -99px;
$white-vk-width: 29px;
$white-vk-height: 17px;
$white-vk-total-width: 152px;
$white-vk-total-height: 145px;
$white-vk-image: '../assets/img/sprite.png';
$white-vk: (52px, 99px, -52px, -99px, 29px, 17px, 152px, 145px, '../assets/img/sprite.png', 'white-vk', );
$spritesheet-width: 152px;
$spritesheet-height: 145px;
$spritesheet-image: '../assets/img/sprite.png';
$spritesheet-sprites: ($black-slider-arrow-left, $black-slider-arrow-right, $blue-arm, $blue-brush, $blue-building, $blue-hat, $blue-leaf, $blue-monitor, $blue-pencil-small, $blue-pencil, $blue-portfolio, $blue-rectangle, $blue-teamwork, $blue-truck, $orange-arrow-right, $orange-location, $orange-refund, $orange-truck, $white-arrow-right, $white-link, $white-slider-arrow-left, $white-slider-arrow-right, $white-vk, );
$spritesheet: (152px, 145px, '../assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
