$font-family-base:            'Montserrat', sans-serif;
$font-family-alt:             'Muller';
$font-color-base:             #6F7D9A;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 975px
);

$wrapper-max-width:           1440px;

$headings-color:              #494B4C;
$headings-font-weight:        600;
$primary:                     #58b2f6;
$secondary:                   #F5B540;

$font-size-base:              1rem;                      // 16px
$font-size-sm:                $font-size-base * 14 / 16; // 14px
$font-size-xs:                $font-size-base * 11 / 16; // 11px

$h1-font-size:                $font-size-base * 44 / 16; // 44px
$h1-font-size-lg:             $font-size-base * 40 / 16; // 40px
$h1-font-size-md:             $font-size-base * 30 / 16; // 30px
$h1-font-size-sm:             $font-size-base * 22 / 16; // 22px
$h2-font-size:                $font-size-base * 34 / 16; // 34px
$h2-font-size-lg:             $font-size-base * 30 / 16; // 30px
$h2-font-size-md:             $font-size-base * 28 / 16; // 28px
$h2-font-size-sm:             $font-size-base * 20 / 16; // 20px
$h3-font-size:                $font-size-base * 22 / 16; // 22px
$h4-font-size:                $font-size-base * 20 / 16; // 20px
$h5-font-size:                $font-size-base * 18 / 16; // 18px
$h6-font-size:                $font-size-base * 16 / 16; // 16px

$border-width:                2px;
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$btn-border-radius:           2px;
$btn-border-radius-lg:        2px;
$btn-border-radius-sm:        2px;
$input-btn-line-height:       3;
$input-btn-padding-x:         1.8rem;
$input-border-width:          1px;
$input-border-color:          #fff;
$input-line-height:           1;
$input-height:                3.2rem;
$input-border-radius:         2px;
$input-bg:                    transparent;
$input-color:                 #fff;
